.card {
  height: 13.1rem;
  width: 8.8rem;
  border-radius: 1.4rem;
  background-color: violet;
  margin-left: -4rem;
  overflow: hidden;
  /*-19 -15*/
  /*-140 -210*/
}

.enemy-card {
  background-size: cover;
  height: 13.8rem;
}

.table-card {
  margin-left: 0;
}
