<div class="match-page-container">
  <div class="opponents-hands-wrapper">
    <div class="hand" *ngFor="let hand of opponentHandsLength; index as i">
      <app-card
        [ngStyle]="{
          width: SpaceCalc(opponentHandsLength.length) + 'rem'
        }"
        *ngFor="let card of Iterate(hand)"
      ></app-card>
    </div>
  </div>
  <div class="my-hand-wrapper">
    <div class="hand">
      <app-card
        *ngFor="let card of myHandCardCoordinates; index as i"
        [value]="myHandCardCoordinates[i][0]"
        [color]="myHandCardCoordinates[i][1]"
        >{{ myHandCardCoordinates[i][0] }} {{ myHandCardCoordinates[i][1] }}
      </app-card>
    </div>
  </div>
</div>
