<div
  class="match-page-container"
  [style.background-image]="'url(assets/img/GabeBackground.jpg)'"
>
  <button class="save-match" (click)="SaveMatch()">SAVE MATCH</button>
  <div class="opponents-hands-wrapper">
    <div class="hand" *ngFor="let hand of opponentHandsLength; index as i">
      <app-card
        [ngStyle]="{
          width: SpaceCalc(opponentHandsLength.length) + 'rem',
        }"
        [enemyOrNot]="true"
        *ngFor="let card of Iterate(hand)"
      ></app-card>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="cards-on-table">
      <app-card
        class="test"
        [isHandCard]="false"
        [enemyOrNot]="true"
        (click)="DrawCard()"
        [ngStyle]="{ rotate: '180deg' }"
        [ngStyle]="{ cursor: 'pointer' }"
      ></app-card>
      <app-card
        [isHandCard]="false"
        [value]="lastCardCoordinates[0][0]"
        [color]="lastCardCoordinates[0][1]"
      ></app-card>
    </div>
    <div class="wild-color" [ngStyle]="{ 'background-color': wildColor }"></div>
  </div>

  <div class="uno-popup-container" *ngIf="unoPopup">
    <div class="uno-popup">
      <p>UNO!</p>
      <p>Hurry up and click here!</p>
      <div class="uno-click-box-container" (click)="UnoClick()">
        <p>click</p>
        <svg viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="25" stroke-width="8" fill="none" />
        </svg>
      </div>
    </div>
  </div>

  <div class="chose-color-popup" *ngIf="changeColorDiscard">
    <div class="chose-a-color">
      <p>chose a color</p>
      <div class="color-container">
        <div class="row">
          <div
            class="color"
            [ngStyle]="{
              'background-color': 'red',
              'border-radius': '1rem 0 0 0'
            }"
            (click)="ChangeColor(0)"
          ></div>
          <div
            class="color"
            [ngStyle]="{
              'background-color': 'orange',
              'border-radius': '0 1rem 0 0'
            }"
            (click)="ChangeColor(1)"
          ></div>
        </div>
        <div class="row">
          <div
            class="color"
            [ngStyle]="{
              'background-color': 'green',
              'border-radius': '0 0 0 1rem'
            }"
            (click)="ChangeColor(2)"
          ></div>
          <div
            class="color"
            [ngStyle]="{
              'background-color': 'blue',
              'border-radius': '0 0 1rem 0'
            }"
            (click)="ChangeColor(3)"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-hand-wrapper" [class.my-turn]="isMyTurn">
    <div class="hand">
      <app-card
        *ngFor="let card of myHandCardCoordinates; index as i"
        [value]="myHandCardCoordinates[i][0]"
        [color]="myHandCardCoordinates[i][1]"
        (click)="DiscardCard(i)"
        [myCard]="true"
      >
      </app-card>
    </div>
    <button class="next" (click)="Next()">NEXT</button>
    <p
      class="error-message"
      [ngClass]="errorMessageAnimation ? 'error-animation' : ''"
    >
      {{ errorMessage }}
    </p>
  </div>
</div>
