<div
  class="scoreboard-page d-flex justify-content-center align-items-center vw-100 vh-100 position-absolute fw-bold"
>
  <div
    class="scoreboard d-flex flex-column justify-content-evenly align-items-center rounded-5 border-0 p-5"
  >
    <h2>{{ typeOfScoreboard == 0 ? "Match Scoreboard" : "LeaderBoard" }}</h2>
    <div
      class="scoreboard-rows-container d-flex flex-column justify-content-center align-items-center"
    >
      <div
        class="scoreboard-row-fields d-flex justify-content-evenly align-items-center p-3"
      >
        <div>Score</div>
        <div>Player</div>
      </div>
      <div
        class="scoreboard-row d-flex justify-content-evenly align-items-center rounded-4 p-4"
        *ngFor="let key of scoreboardKey; index as i"
        [ngStyle]="{
          'background-color': i % 2 == 0 ? 'white' : 'rgb(235, 235, 235)'
        }"
      >
        <div>
          {{ key | number : "1.2-2" }}
        </div>
        <ng-container *ngIf="typeOfScoreboard == 0">
          <div *ngFor="let playerId of scoreBoard[key]">
            {{ playerId == 0 ? "You" : playerId }}
          </div>
        </ng-container>
        <ng-container *ngIf="typeOfScoreboard == 1">
          <div *ngFor="let playerName of leaderBoard[key]">
            {{ playerName }}
          </div>
        </ng-container>
      </div>
    </div>
    <button
      class="home position-absolute border-0 p-2 rounded-4 fw-bold"
      (click)="BackHome()"
    >
      HOME
    </button>
  </div>
</div>
